<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>聊天窗口界面</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet"/>
    <link rel="stylesheet" href="css/reset.min.css" th:href="@{/css/reset.min.css}" />
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="wrapper">
	<div class="container">
        <div class="left">
            <div class="top">
                <img th:src="${imgurl}" alt="http://localhost:8080/img/userportrait/default.jpg" onclick="updateImg()" />
                <input type="text" placeholder="输入查询的用户名或ID" id="searchValue" />
                <a href="javascript:;" class="search" onclick="searchFriend()"></a>
                <!--<div class="dropdown">
                <div class="dropdown-content">
                    <ul>
                        <li>修改头像</li>
                        <li>修改资料</li>
                        <li>添加好友</li>
                    </ul>
                </div>
                </div>-->
            </div>
            <input type="hidden" id="userpid"  th:value="${userpid}" />
            <ul class="people" >
                <li class="person" th:each="friend ,iterStat : ${firends}" th:onclick="getname([[${friend}]])">
                    <img th:src="${friend.imgurl}" alt="http://localhost:8080/img/userportrait/default.jpg" />
                    <span class="name" th:text="${friend.pname}"></span>
                    <br><span class="name" th:text="${friend.pid}"></span>
                </li>
            </ul>
        </div>



        <div id="showDiv" class="right" hidden>
            <div class="top"><span>To: <span class="name" style="align-content: center" id="toUser"></span></span></div>
            <div class="chat" style="overflow-y: auto;" id="message">
            </div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text"  id="content" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send" id="sendMsg"></a>
            </div>
        </div>

        <!--查找好友的div-->
        <div class="thisBox" id="friendDiv" th:hidden="${reqMsg.size() == 0}">
            <div class="thisBox1" >
                <button onclick="jQuery('.thisBox').hide()" class="close">关闭</button>
                    <div class='left' id="showFriend" style="width: 40%">
                        <ul class='people' th:hidden="${reqMsg.size() == 0}">
                            <li class='person' th:each="msg : ${reqMsg}">
                                <span class='name' th:text="msg.message"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:;' onclick='okfriend([[${msg}]])'>同意</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:;' onclick='nofriend([[${msg}]])'>拒绝</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>

    </div>
</div>



<!--<div style="text-align:center;margin:1px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>-->
<script type="text/javascript">
    var receiveId;
    function getname(user){
        console.info(user)
        console.info(pid)
        $("#message").empty()
        $("#showDiv").attr("hidden" , false)
        receiveId = user.pid
        $("#toUser").empty()
        $("#toUser").append(user.pname)
        //发送ajax请求，获取最近十条的信息
        $.ajax({
            url : "http://localhost:8080/msg/getMessage",
            type : "get",
            async : false,
            data : {
                "sendId": pid,
                "receiveId" :receiveId
            },
            success : function (resp) {
                console.info(resp)
                //将信息添加到上边
                for (var i = 0 ; i < resp.length ; i++){
                    var divClass = pid == resp[i].sendId ? "bubble me" : "bubble you";
                    var strMessage = "<div class ='" + divClass + "'>" + new Date(resp[i].sendTime).Format("yyyy-MM-dd hh:mm:ss") + "<br>" + resp[i].message + "</div>"
                    $("#message").append(strMessage)
                }
                var strTime = "<div class='conversation-start'> <span>"+ new Date().Format("yyyy-MM-dd hh:mm:ss") +"</span></div>"
                $("#message").append(strTime)
            },
            error : function (err) {

            }
        })
    }

    function updateImg(){
        alert("修改头像")
    }

    function searchFriend(){
        var value = $("#searchValue").val();
        $.ajax({
            url:"http://localhost:8080/selectfriends",
            type:"get",
            async:false,
            data:{
                "value" : value
            },
            success : function (resp) {
                var str = "<ul class='people' >"
                if (resp == null ||resp.length == 0){
                    alert("查无此人")
                } else{
                    for(var i = 0; i < resp.length ; i++){
                        str += "<li class='person'>"+
                            "<img src='"+resp[i].imgurl+"' style='margin-top: -5px;' />" +
                            "<span class='name'>"+resp[i].pname+"</span>"+
                            "(<span class='name'>"+resp[i].pid+"</span> )"+
                            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:;' onclick='addfriend("+resp[i].pid+")'>添加好友</a>"+"</li>"
                    }
                    str += "</ul>"
                    $("#showFriend").empty()
                    $("#showFriend").append(str)
                    $("#searchValue").val("")
                }
                $("#friendDiv").show()
            }
        })


    }
    function addfriend (id){
        sendMsg (id);
        /*        $.ajax({
                    url : "http://localhost:8080/addFriend",
                    type :"post",
                    async : false,
                    data :{
                        "myId" : send,
                        "friendId" : id
                    },
                    success : function (resp) {
                        alert(resp)
                    }
                })

                alert(id)*/
    }

</script>
<script type="text/javascript"  src="js/webSocket.js" th:src="@{/js/webSocket.js}"></script>
</body>
</html>