<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>聊天窗口界面</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet"/>
    <link rel="stylesheet" href="css/reset.min.css" th:href="@{/css/reset.min.css}" />
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>

<div class="wrapper">
	<div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>
            <input type="hidden" id="userpid"  th:value="${userpid}" />
            <ul class="people" >
                <li class="person" th:each="friend ,iterStat : ${firends}" th:onclick="getname([[${friend}]])">
                    <span class="name" th:text="${friend.pname}"></span>(<span class="name" th:text="${friend.pid}"></span>)
                </li>
            </ul>
        </div>
        <div id="showDiv" class="right" hidden>
            <div class="top"><span>To: <span class="name" id="toUser"></span></span></div>
            <div class="chat" style=" overflow:scroll;" id="message">
                <div class="conversation-start">
                    <span>Today, 5:38 PM</span>
                </div>

                <div class="bubble me">
                    i splick
                </div>

                <div class="bubble you">
                    I'm in California dreaming
                </div>

            </div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text"  id="content" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send" id="sendMsg"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"  src="js/webSocket.js" th:src="@{/js/webSocket.js}"></script>

<div style="text-align:center;margin:1px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
<script type="text/javascript">
    var receiveId;
    function getname(user){
        $("#showDiv").attr("hidden" , false)
        receiveId = user.pid
        $("#toUser").empty()
        $("#toUser").append(user.pname)
        console.info(user)
    }
</script>
</body>
</html>