<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chatroom.dao.RelationDao">

    <sql id="property">
        pid,pname
    </sql>
    <sql id="propertyAll">
        id,myId,friendId,status
    </sql>

    <resultMap id="friend" type="com.chatroom.entity.User">
        <id property="pid" column="pid"/>
        <result column="pname" property="pname"/>
    </resultMap>

    <select id="allFriends" resultType="java.util.HashMap">
        select <include refid="property"/> from user where user.pid in(select friendId from relation where myId = #{pid})
        <if test="status != null || status > 0">
            and user.status = #{status}
        </if>
    </select>
    <select id="getFriends" resultType="com.chatroom.entity.User">
        select * from user where user.pid in(select friendId from relation where myId = #{pid})
        <if test="status != null || status > 0">
            and user.status = #{status}
        </if>
    </select>


    <select id="selectFriend" resultType="java.util.HashMap">
        select  pid,pname,imgurl from user where user.pid = #{value} or user.pname like concat(concat('%',#{value}),'%')
        or user.nickname like concat(concat('%',#{value}),'%') or user.phone = #{value}
    </select>


    <select id="isFriend" resultType="com.chatroom.entity.Relation">
        select <include refid="propertyAll" /> from relation r where r.myId= #{myPid} and r.friendId = #{friendId}
    </select>

    <insert id="addFriendPrem" parameterType="com.chatroom.entity.Relation">
        insert into relation(myId,friendId,status)
        value (#{relaction.myId},#{relaction.friendId},#{relaction.status})
    </insert>


</mapper>